@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Oswald', sans-serif;
    color: rgb(44, 44, 44);
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #0a0a0a;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    max-width: 1700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fafafa;
}

h1 span {
    color: #FF7A45;
    letter-spacing: 10px;
}

.add-btn {
    position: relative;
    text-decoration: none;
    background-color: #FF7A45;
    padding: 5px 35px 4px 25px;
    color: #fafafa;
    border-radius: 4px;
}

.add-btn span {
    position: absolute;
    top: 45%;
    right: 1.2rem;
    transform: translateY(-50%);
    font-size: 1.6rem;
}

.main-top-container {
    position: relative;
    margin-top: -2.5rem;
}

.main-top-container img {
    width: 100vw;
    height: 350px;
    object-fit: cover;
    object-position: 82% center;
    background-repeat: no-repeat;
}

.main-top-text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.main-top-text {
    color: #FAFAFA;
    width: 100%;
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-top-text p {
    font-size: 1rem;
}

.main-top-text h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.1;
    margin: .5rem 0;
}

.main-top-text h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #FF7A45;
}

.product-text {
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.product-text h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    
}

.devider {
    width: 100%;
    height: 1px;
    background-color: rgba(51, 51, 51, 0.349);
}

main {
    margin-top: 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.shoes {
    width: 100%;
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.shoes-container {
    position: relative;
    border-radius: 6px;
    width: 100%;
    max-width: 1700px;
    max-width: 550px;
    height: 480px;
    background-color: #ffff;
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center 55%;
    box-shadow: rgba(0, 0, 0, 0.08) -4px 8px 20px -6px;
}

.shoes-box-top {
    position: absolute;
    top: 4rem;
    left: 2rem;
    transform: translateY(-50%);
}

.shoes-title {
    font-size: 2rem;
    font-weight: 600;
}

.shoes-brand {
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(202, 202, 202);
    margin-bottom: -.4rem;
}

.shoes-box-bottom {
    position: absolute;
    bottom: 0rem;
    left: 2rem;
    transform: translateY(-50%);
}

.shoes-price-text {
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(202, 202, 202);
    margin-bottom: -.2rem;
}

.shoes-price {
    font-size: 1.6rem;
    font-weight: 600;
}

.shoes-btn {
    position: absolute;
    font-size: 1.2rem;
    bottom: 1.8rem;
    right: 10%;
    transform: translateY(-50%);
}

.shoes-btn a {
    text-decoration: none;
    background-color: #0a0a0a;
    padding: 4px 20px 6px 20px;
    color: #fafafa;
    border-radius: 4px;
}

@media (min-width: 600px) {
    .shoes {
    flex-direction: row;
    flex-wrap: wrap;
}
}

@media (min-width: 1175px) {
    .main-top-container img {
        width: 100vw;
        height: auto;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
    }
    
    .main-top-text p {
        font-size: 1rem;
    }
    
    .main-top-text h2 {
        font-size: 3.5rem;
        text-transform: uppercase;
        line-height: 1.1;
        margin: .5rem 0;
    }
    
    .main-top-text h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #FF7A45;
    }
}